#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [21]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

lowest_student = min(grades, key=grades.get)

print("The student with the lowest grade is:", lowest_student)

The student with the lowest grade is: Omid

Exercise 2: print names of students who registered for any course containing "Data"

In [26]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}
print('Students with courses whose title contains "Data":')
for student, subjects in courses.items():
    for subject in subjects:
        if "Data" in subject:
            print(student)
            break

Students with courses whose title contains "Data":
Sara
Reza

Exercise 3: Print titles of books that are not available.

In [27]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}
print("Books checked out:\n")
for title, info in library.items():
    if not info['available']:
        print(title)

Books checked out:

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [29]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}
print("Students registered for two o' mo' courses:\n")
for student, courses in registrations.items():
    if len(courses) > 2:
        print(student)

Students registered for two o' mo' courses:

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [13]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

average = sum(grades.values()) / len(grades)
print("The GPA of the class is", average,".")

The GPA of the class is 18.1 .

Exercise 6: Count and print the number of students registered for "Python".

In [11]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

count = 0
for subjects in courses.values():
    if "Python" in subjects:
        count += 1

print("The number of students registered for Python is", count, ".")

The number of students registered for Python is 3 .

Exercise 7: Print titles of books with more than 200 pages.

In [17]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}
print("Books with more than 200 pages:\n")
for title, pages in book_pages.items():
    if pages > 200:
        print(title)

Books with more than 200 pages:

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [20]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

for student, subjects in courses.items():
    print("Name:",student, "| Number of courses:",len(subjects))

Name: Ali | Number of courses: 2
Name: Sara | Number of courses: 2
Name: Reza | Number of courses: 2
Name: Lina | Number of courses: 2
Name: Omid | Number of courses: 1