In [3]:
fruits = ['banana', 'kiwi', 'apricot']
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['banana', 'kiwi', 'apricot']
banana
kiwi
apricot

In [6]:
names = ['bobby', 'tony', 'marisol', 'sarah']
names[0] = 'susan'
print(names)

['susan', 'tony', 'marisol', 'sarah']

In [9]:
vehicles = ['truck', 'motorcycle', 'stroller', 'car', 'bus' ]
vehicles.append('scooter')
print(vehicles)

['truck', 'motorcycle', 'stroller', 'car', 'bus', 'scooter']

In [10]:
foods = ['pineapple', 'ice cream', 'canned tuna', 'sugar', 'kit-kat', 'pizza']
del foods[3]
print(foods)

['pineapple', 'ice cream', 'canned tuna', 'kit-kat', 'pizza']

In [14]:
animals = ['cats', 'dogs', 'fish']
animals.reverse()
print(animals)

['fish', 'dogs', 'cats']

In [18]:
numbers = [1, 2, 3, 4, 5]
for numbers in numbers:
    print(numbers * 2)

2
4
6
8
10

In [23]:
friends = ['marisol', 'reese', 'john', 'owen', 'lujan', 'kelsey']
print (friends[0:3])
print (friends[3:6])

['marisol', 'reese', 'john']
['owen', 'lujan', 'kelsey']

In [27]:
moreNumbers = list(range(1, 11))
print(moreNumbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
squares = [value**3 for value in range(1, 6)]
print(squares)

[1, 8, 27, 64, 125]